@model ContosoUniversity.Models.Department;

@{
    ViewData["Title"] = "New Department";
}

<h1>Add new department</h1>
<br />


@using (Html.BeginForm())
{
    <div>
        <div asp-validation-summary="ModelOnly" class="text-danger">
            @Html.ValidationSummary()
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(m => m.Name)</b>
            <div>@Html.EditorFor(m => m.Name)</div>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Name)</span>
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(m => m.Budget)</b>
            <div>@Html.EditorFor(m => m.Budget)</div>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.Budget)</span>
        </div>

        <div class="form-group">
            <b>@Html.DisplayNameFor(m => m.StartDate)</b>
            <div>@Html.EditorFor(m => m.StartDate)</div>
            <span class="text-danger">@Html.ValidationMessageFor(m => m.StartDate)</span>
        </div>

        <div class="form-group" id="adminstrators">
            <b>@Html.DisplayNameFor(m => m.Adminstrator)</b>
            <div>
                @Html.DropDownListFor(m => m.AdminstratorId,
                              (IEnumerable<SelectListItem>)ViewData["Adminstrators"], "Select department")
            </div>
        </div>

        <br />

        <input type="submit" value="Submit" class="btn btn-success" />
        <span><a asp-action="Index">Back to list</a></span>
    </div>
}
