@model ContosoUniversity.Models.Department;

@{
    ViewData["Title"] = "Delete department";
}

<h1>Delete department</h1>
<br />
<h3>Are you sure to delete this department?</h3>

@using (Html.BeginForm())
{
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.AdminstratorId)
    @Html.HiddenFor(m => m.Name)
    @Html.HiddenFor(m => m.Budget)
    @Html.HiddenFor(m => m.Adminstrator)

    @Html.HiddenFor(m => m.StartDate)
    @Html.HiddenFor(m => m.RowVersion)

    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    

    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.Name): </b>
        <span>@Html.DisplayFor(m => m.Name)  </span>
        <div class="text-danger">@Html.ValidationMessageFor(m => m.Name) </div>
    </div>

    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.Budget): </b>
        <span>@Html.DisplayFor(m => m.Budget) </span>
        <div class="text-danger">@Html.ValidationMessageFor(m => m.Budget) </div>
    </div>

    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.StartDate): </b>
        <span>@Html.DisplayFor(m => m.StartDate) </span>
        <div class="text-danger">@Html.ValidationMessageFor(m => m.StartDate) </div>
    </div>

    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.Adminstrator): </b>

        <span>
            @if (Model.Adminstrator != null)
            {
                @Model.Adminstrator.FirstName @Model.Adminstrator.LastName
            }
            else
            {
                <i>There is no department</i>
            }
        </span>
        <div class="text-danger">@Html.ValidationMessageFor(m => m.Adminstrator) </div>
    </div>

    <br />

    <div class="form-group">
        <input class="btn btn-danger" type="submit" value="Delete" />
        <a class="btn btn-warning" asp-action="Index">Cancle</a>
    </div>
}
