@model ContosoUniversity.ViewModels.EditInstructorViewModel;

@{ 
    ViewData["Title"] = "Edit Instructor";
}

<h1>Edit instructor</h1>

@using (Html.BeginForm())
{
<div class="form-group">
    @Html.HiddenFor(m => m.ID)
    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.FirstName)</b>
        <div>@Html.EditorFor(m => m.FirstName)</div>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.FirstName)</span>
    </div>
    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.LastName)</b>
        <div>@Html.EditorFor(m => m.LastName)</div>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.LastName)</span>
    </div>
    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.HireDate)</b>
        <div>@Html.EditorFor(m => m.HireDate)</div>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.HireDate)</span>
    </div>
    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.OfficeLocation)</b>
        <div>@Html.EditorFor(m => m.OfficeLocation)</div>
        <span class="text-danger">@Html.ValidationMessageFor(m => m.OfficeLocation)</span>
    </div>
    <div class="form-group">
        <b>@Html.DisplayNameFor(m => m.CourseAssignments)</b>
        <div>
            @for (int i = 0; i < Model.CourseAssignments.Count; i++)
            {
                <div>
                    @Html.CheckBoxFor(m => m.CourseAssignments[i].IsAssigned)
                    @Html.DisplayFor(m => m.CourseAssignments[i].CourseTitle)
                    @Html.HiddenFor(m => m.CourseAssignments[i].CourseID)
                </div>
            }
        </div>
    </div>
    <br />
    <div>
        <input type="submit" value="Save" />
        <a asp-action="Index">Back to list</a>
    </div>
</div>
}